.alert-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert {
  background: white;
  max-width: 800px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  box-shadow: 0 0 3px 3px #0000008f;
  padding: 15px;
  position: relative;
  overflow: auto;
}

.alert-close {
  position: absolute;
  right: 10px;
  background: #f44336;
  color: white;
  border: none;
  padding: 5px;
  font-weight: bold;
  box-shadow: 0 0 3px 2px #00000087;
  cursor: pointer;
  top: 10px;
}

.alert pre {
  margin-top: 22px;
}

.alert pre b {
  color: #f44336;
}

input.reload {
  position: absolute;
  top: 15px;
  right: 15px;
  background: blue;
  border: none;
  color: white;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}
