.nav {
  padding: 10px 0 10px 10px;
  box-shadow: 0 1px 3px 3px #0000004d;
  margin-top: 15px;
}

.nav h2 {
  margin: 0;
  font-size: 18px;
}

.btn {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 5px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  margin-right: 15px;
  margin-top: 15px;
}
.btn:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.btn:active {
  position: relative;
  top: 1px;
}

.data-server {
  padding: 15px 0;
}

.data-server input {
  margin-right: 15px;
  max-width: 120px;
  padding: 5px;
}

.input-password,
.info-row {
  display: flex;
}

.info-row i {
  margin-right: 15px;
}

.info-row {
  max-width: 800px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.input-password span {
  display: block;
  cursor: pointer;
  padding: 5px 10px;
}

.info-row span {
  width: 120px;
  text-align: center;
}

.proccess-string {
  padding: 15px;
  font-size: 24px;
}
